{
  "openapi": "3.1.0",
  "info": {
    "title": "Leonard Wong Portfolio Services",
    "version": "1.0.0",
    "description": "Machine-readable discovery for public portfolio metadata and the x402-protected AgentReady scan endpoint."
  },
  "servers": [
    {
      "url": "https://leonardwong.tech"
    }
  ],
  "x-service-info": {
    "name": "Leonard Wong Portfolio Services",
    "description": "Public portfolio, agent-readiness, and x402 scan information.",
    "status": "discovery-and-x402",
    "categories": [
      "software-engineering",
      "security",
      "agent-readiness"
    ]
  },
  "paths": {
    "/api/scan": {
      "post": {
        "operationId": "runAgentReadyScan",
        "summary": "Validate an AgentReady scan request",
        "description": "Submit a public HTTPS URL for request validation. The route is protected by the x402 exact payment protocol and currently returns validated request/payment metadata without fetching or analyzing the target; the recipient wallet is configured server-side.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validated scan request metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "service",
                    "url",
                    "payment"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "service": {
                      "const": "agent-ready-scan"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "payment": {
                      "type": "object",
                      "required": [
                        "network",
                        "price",
                        "protocol"
                      ],
                      "properties": {
                        "network": {
                          "type": "string",
                          "pattern": "^eip155:[0-9]+$"
                        },
                        "price": {
                          "type": "string",
                          "pattern": "^\\$[0-9]+(?:\\.[0-9]{1,6})?$"
                        },
                        "protocol": {
                          "const": "x402"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or non-HTTPS URL"
          },
          "402": {
            "description": "Payment required; x402 payment requirements are returned in response headers"
          },
          "413": {
            "description": "Request body exceeds the 16 KiB limit"
          },
          "503": {
            "description": "Payment configuration is unavailable"
          }
        },
        "x-x402-payment": {
          "scheme": "exact",
          "network": "eip155:84532",
          "price": "$0.01",
          "recipient": "server-configured"
        }
      }
    }
  }
}
